.temparatureinputfield {
  display: inline-block;
  margin: auto;
}

.temparatureinputfield {
  display: flex;
}
fieldset {
  width: 400px;
}
fieldset input {
  padding: 10px 10px;
  font-size: 20px;
}
