.App {
  text-align: center;
}
.main-hero {
  margin: 0 20px;
}
.temparatureinput-main {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 20px;
}
.click-couter {
  text-align: center;
  margin-top: 80px;
  border: 1px solid;
  padding: 50px;
}
.mycounter {
  margin-top: 30px;
  margin-left: 400px;
}
