.App {
  text-align: center;
}
.main-hero {
  margin: 0 20px;
}
.temparatureinput-main {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 20px;
}
.click-couter {
  text-align: center;
  margin-top: 80px;
  border: 1px solid;
  padding: 50px;
}
button {
  margin: 0 2px;
}
.mycounter {
  margin-top: 30px;
  margin-left: 400px;
}
.callbackcallmenu {
  background-color: tomato;
  color: white;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.usereducercontextapi {
  background-color: antiquewhite;
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.custom-hook {
  padding: 20px;
  background: #333;
  color: white;
}

/* styling css start from here */

.card-area {
  background-color: azure;
  padding: 20px;
  border: 1px solid red;
  margin-top: 10px;
}
/* .wrapper {
  width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #333;
  color: white;
} */

.card {
  display: flex;
}
